{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="icon" type="image/x-icon" href="{% static 'login/img/favicon-1.ico' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/d9a0aff236.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="img">
			<img src="{% static 'login/img/post.svg' %}" style="max-width:100%;height:auto;">
		</div>
		<div class="login-content">
			<form class="form" action="/signin" method = "post">
				{% csrf_token %}
				<img src="{% static 'login/img/logo.png' %}">
				<h2 class="title">Login</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" id="username" name="username" class="input" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" id="pass1" name ="pass1" class="input" required>
            	   </div>
            	</div>
              {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert.dismissible fade show" role=""alert>
                    <span style="color:red;">{{ message }}</span>
                    </div>
              {% endfor %}
            	<a class="forgot__pass" href="{% url 'forgot_password' %}">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
				<p class="form__text">
					<a class="form__link" href="{% url 'signup' %}" id="linkCreateAccount">Don't have an account? Create account</a>
				</p>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'login/js/main.js' %}"></script>
</body>
</html>
